<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--REAL-->
  <!--<connectionStrings>
    <add name="ControlAdministradoresEntities" connectionString="metadata=res://*/ModelAdministradores.csdl|res://*/ModelAdministradores.ssdl|res://*/ModelAdministradores.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ECUIO0121834\ECUIO0121834;initial catalog=ControlAdministradores;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  
  <!--PRUEBAS-->  
  <!--<connectionStrings>
    <add name="ControlAdministradoresEntities" connectionString="metadata=res://*/ModelAdministradores.csdl|res://*/ModelAdministradores.ssdl|res://*/ModelAdministradores.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ECUIO0121834\ECUIO0121834;initial catalog=ControlAdministradores20161109;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->

  <!--OPERACIONES-->
  <connectionStrings>
    <add name="ControlAdministradoresEntities" connectionString="metadata=res://*/ModelAdministradores.csdl|res://*/ModelAdministradores.ssdl|res://*/ModelAdministradores.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ECUIO012E01;initial catalog=ControlAdministradores_Operaciones;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>